[% META title = 'Inregistrare student' -%]

<form method="post" action="[% c.uri_for('register_do') %]">
	Nume: <input type="text" for="name" /><br/>
	Prenume: <input type="text" for="name2" /> <br/>
	Camera: <input type="text" for="room"/><br/>
	Parola: <input type="password" for="pass"/><br/>
	C parola: <input type="password" for="pass2"/><br/>
	<input type="submit" value="Inregistrare"/>
</form>
